<h2>Animal Page</h2>

<h4>The animal is:<%= @animal.common_name %></h4>
<h4>Its Latin Name <%= @animal.latin_name %></h4>
<h4>Its kingdom <%= @animal.kingdom %></h4>


<h4><%= link_to 'Back Home', amimals_path %></h4>